<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET"/>
  <application android:label="הוספה לילדים" android:icon="@drawable/parent_icon"
    android:theme="@android:style/Theme.Material.NoActionBar"
    android:supportsRtl="true" android:allowBackup="false"
    android:usesCleartextTraffic="false">
    <activity android:name="il.kidsyoutube.ParentActivity" android:exported="true" android:launchMode="singleTop" android:configChanges="orientation|screenSize|keyboardHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="text/plain"/>
      </intent-filter>
    </activity>
  </application>
</manifest>

