* text=auto
*.html text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.gradle text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.properties text eol=lf
*.md text eol=lf
gradlew text eol=lf
gradlew.bat text eol=crlf
*.jar -text
*.png -text
